<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
</head>
<body>
    <h1>Student Registration</h1>

    <div>
        <form action="">
            {{form }}
            <input type="button" value="Submit">
        </form>
    </div>


    {% comment %} <div>
        <form action="">
            <table>
                {{form.as_table }}
            </table>
            <input type="button" value="Submit">
        </form>
    </div> {% endcomment %}


    {% comment %} <div>
        <form action="">
            <ul>
                {{form.as_ul }}
            </ul>
            <input type="button" value="Submit">
        </form>
    </div>


    <div>
        <form action="">
            <p>
                {{form.as_p }}
            </p>
            <input type="button" value="Submit">
        </form>
    </div> {% endcomment %}

    {% comment %} <div>
        <form action="">
                {{form.first_name }}
                {{form.last_name }}

            <input type="button" value="Submit">
        </form>
    </div> {% endcomment %}

</body>
</html>